{% extends 'base.html' %} {% block content %}
<main>
  <h1> Add an item to your to-do list <h1>
   <p>
    <form method="post">  
    <input="task">
    <input="due_date">
    <input="is_completed">
    <select="list"> 
    {% csrf_token %}{{ form.as_p }}
    <button class="button">Create</button>
    </form>
   </p>
</main>
{% endblock content %}