{% extends 'base.html' %}{% block content %}
<main>
  <h1> Edit your to-do item <h1>
   <p>
    <form method="post">
    <input="task">
    <input="due_date">
    <input="is_completed">
    <select="list">
    {% csrf_token %}{{ form.as_p}}
    <button class="button"> Update </button>
    </form>
   </p>
</main>
{% endblock content%}