{% extends 'base.html' %} {% load static %} {% block content %}
  <main>
   <h1> Create a new to-do list <h1>
    <p>
      <form method="post">
      <input="name">
      {% csrf_token %} {{ form.as_p }}
      <button> Update </button>
      </form>
     {% if form|length > 0 %}
        <a href="{% url 'todo_list_lists' %}"> </a>
     {% else %}
        <a href="{% url 'todo_list_create' %}"> </a>
     {% endif %}
  </main>
{% endblock content %}