{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <form method="post">
  {% csrf_token %} {{ form.as_p }}
  <p> Are you sure you want to delete all
  tasks in "{{ todolist.name }}"?
  </p>
    <button class="button">Delete All</button>
  </form>
</main>
{% endblock content %}