{% extends 'base.html' %} {% load static %} {% block content %}
<body>
  <main>
    <h1> {{ todolist.name }} </h1>
      <ul>
      {% for item in todolist.items.all %}
        <li>
          <a href="{% url 'todo_item_edit' item.id %}">{{ item.task }}
        </li>
      {% endfor %}
     </ul> 
     <ul>
      <li>
        <a href="{% url "todo_list_delete" todolist.id %}">Delete List</a>
      </li>
      <li>
        <a href="{% url "todo_list_edit" todolist.id %}">Edit List Name</a>
      </li>
      <li>
        <a href="{% url "todo_item_create" %}">Add a New Item to List</a>
      </li>
    </ul>
  </main>
{% endblock content %}
