{% extends 'base.html' %} {% load static %} {% block content %}
  <main>
      <form method="post" input="name">
        {% csrf_token %} {{ form.as_p }}
          <button class="button">Update</button>
        </form>
  </main>
{% endblock content %}