{% extends 'base.html' %} {% load static %} {% block content %}
    <main>
      <h2> To-Do Lists </h2>
        {% for list in todolist_list %}
            <li> <a href="{% url "todo_list_detail" list.id %}">{{ list.name }}</a>
            </li>
        {% endfor %}
        <p>
        <ul>          
          <li>
            <p> <a href="{% url "todo_list_create" %}"> Create </a>
            a new to-do list. </p>
          </li>
          <li>
            <p> <a href="{% url "todo_item_create" %}"> Create </a>
             a new to-do item. </p>
          </li>
        </ul>
      </p>
    </main>
{% endblock content %}