{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <title>To Do Lists</title>
</head>
<body>
  <header>
      <nav>
        <ul>          
          <li>
            <a href="{% url 'admin:index' %}">Admin</a>
          </li>
          <li>
            <a href="{% url 'todo_list_lists' %}">Home</a>
          </li>
      </nav>
    </header>
  <main>
  {% block content %}
  {% endblock content %}
  </main>
</body>
</html>