main {
    display: block;
    margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(79, 92, 208);
}

p {
    font-size: 16px;
    color: rgb(81, 61, 65);
}